:root {
  --background: #1e1e1e; /* Dark background */
  --currentLine: #2e2e2e; /* Slightly lighter for the current line */
  --foreground: #f8f8f2; /* Light text color */
  --comment: #75715e; /* Soft grey for comments */
  --cyan: #8abeb7; /* Cyan color */
  --green: #a6e22e; /* Bright green */
  --orange: #fd971f; /* Orange color */
  --pink: #f92672; /* Pink color */
  --purple: #ae81ff; /* Purple color */
  --red: #f92672; /* Red color */
  --yellow: #e6db74; /* Yellow color */
}

[data-theme="dracula"] {
  --background: #282a36;
  --currentLine: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

body {
  background: var(--background);
  color: var(--foreground);
}
